@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

.montserrat {
  font-family: "Montserrat", "sans-serif";
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", "sans-serif";
}

.merriweather {
  font-family: "Merriweather", serif;
}

@theme {
  --color-purple-500: #8E76F2;
  --text-purple-500: #8E76F2;
  --color-purple-600: oklch(46.39% 0.177 283.72);
  --color-purple-100: #F3E9FF;
  --color-lavender-300: #DCCCFB;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-muted: #8A8A8A;
  --color-placeholder: #c8bff8;
}

/* Custom utility classes for colors */
.text-muted {
  color: var(--color-muted);
}

.placeholder-placeholder::placeholder {
  color: var(--color-placeholder);
}

.logo-typography {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* body {
  background: rgb(51, 51, 51);
  color: white;
} */
